.header {
   // width: 100%;
    //min-width: 100%;
    background-color: #fff;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;

    .search {

        input {
            width: 15rem;
            border-radius: 3px;
            padding: 8px;
            font-size: 12px;
            background-color: #f1f1f1;
            margin: 15px;
        }
    }
}